<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="phonegap-plugin-sidebar-tests"
      version="0.0.0">


    <js-module src="tests.js" name="tests">
    </js-module>
    
</plugin>